.Logo {
  /* margin-left: 50px;*/
}
.Logo__image {
  width: 26.9px;
  height: 32.3px;
  position: relative;
  left: 44px;
  top: 11px;
}
.Logo__name {
  font-family: Raleway, sans-serif;
  font-size: 22px;
  letter-spacing: 3px;
  margin: 0;
}
.Logo__description {
  font-family: GillSans, sans-serif;
  font-size: 16px;
  letter-spacing: 3px;
  color: #6c7178;
  margin: 0;
  margin-left: 10px;
}
